:root {
    --color--accent: #9b3307;
    --color--muted: #4d5156;

    --width--time: clamp(1in, 9vw, 2in);

    --weight--secondary: 300;

    max-width: 65rem;
    margin-inline: auto;
}

body {
    font-family: "Atkinson Hyperlegible Next";
    font-weight: 300;
    margin: calc(var(--width--time) / 2);
    line-height: 1.25;
}

p {
    margin-block: 0;
}

a {
    color: inherit;
    /* text-decoration: inherit; */
}

br {
    display: none;
}

address {
    color: var(--color--muted);
    font-style: inherit;
    font-size: 0.95rem;

    * {
        margin: 0;
    }
}

.visually-hidden,
.onward {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    border: 0;
    color: transparent;
}

.onward {
    margin-inline-end: 1em;

    &::before {
        font-size: inherit;
        position: relative;
        content: "⋯";
        color: var(--color--accent);
        font-family: "EB Garamond";
        font-size: 0.8em;
        bottom: 0.02em;
    }
}

ul {
    padding-inline-start: 1em;
    margin-block: 0;

    li::marker {
        content: "▪  ";
        color: var(--color--accent);
    }

    li:has(>strong)::marker {
        content: "▫  ";
    }
}

ul.inline {
    display: inline-block;
    padding-inline-start: 0;
    margin-inline-start: 0;

    li {
        display: inline;

        &:not(:first-child)::before {
            content: "▪ ";
            color: var(--color--accent);
        }
    }
}

h1,
h2 {
    font-family: "Sora";
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: 88%;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-block-start: 3pt;
    margin-block-end: 2pt;
    border-bottom: 0.5pt solid var(--color--muted);
    box-sizing: content-box;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
    margin-block-start: 3pt;
    margin-block-end: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

strong {
    font-weight: 600;
}

.meta {
    display: flex;
    align-items: end;
    width: 100%;

    div {
        flex-grow: 1;
    }

    .secondary {
        text-align: right;
    }
}

.initials .word {
    display: inline-block;

    &::first-letter {
        color: var(--color--accent);
    }
}

.time * {
    display: inline-block;
}

.position {
    position: relative;

    hgroup {
        display: grid;
        grid-template-columns: auto var(--width--time);
        align-items: start;

        .primary {
            grid-column: 1;
            font-weight: 800;
        }

        .time {
            grid-column: 2;
            grid-row: 2;
            text-align: right;
            color: var(--color--muted);
            width: max-content;
            justify-self: end;

            .delimiter {
                color: var(--color--accent);
            }
        }

        .primary,
        .secondary {
            display: inline-block;
        }

        .secondary h4,
        .primary {
            &:has(+.extra)::after {
                content: ", ";
                white-space-collapse: preserve;
                font-weight: var(--weight--secondary);
            }
        }

        .secondary {
            grid-row: 2;
            grid-column: 1;
            margin: 0;

            * {
                margin: 0;
                display: inline-block;
            }
        }

        .secondary,
        .time {
            margin-block: 2pt;
        }

        .extra {
            font-weight: var(--weight--secondary);
            display: inline;
        }
    }

    >ul {
        margin-block: 0;
        padding-inline-start: 1em;
        /* margin-inline-start: var(--width--time); */
    }
}

.education {

    .primary,
    .time {
        margin-block-start: 3pt;
    }

    .position {
        .time {
            grid-row: 1;
        }

        .extra::before {
            content: none;
        }

        .primary {
            &:has(+.extra)::after {
                content: none;
            }
        }
    }
}

.position .primary+.secondary,
.position .primary+.secondary+.time,
.education .position .secondary {
    margin-block-start: 0;
}

@media print {
    @page {
        margin: 0.49in;
    }

    :root {
        font-size: 10pt;
        --width-time: 1in;
    }

    body {
        margin: 0;
    }
}